{% extends "base.html" %}

{% block title %}
    Driver and Team Standing
{% endblock title %}

{% block content %}

<nav class="flex" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
    <li class="inline-flex items-center">
      <a href="/{{request.year}}/" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600">
        <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
        </svg>
        Home
      </a>
    </li>
    <li aria-current="page">
      <div class="flex items-center">
        <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
        <span class="ms-1 text-sm font-medium text-gray-500 md:ms-2">Driver and Team Standing</span>
      </div>
    </li>
  </ol>
</nav>

<div class="w-full flex flex-col m-4">
    <h1 class="text-3xl font-bold mb-4 text-gray-900 text-left">Driver Standing</h1>
</div>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Postion
                </th>
                <th scope="col" class="px-6 py-3">
                    Driver
                </th>
                <th scope="col" class="px-6 py-3">
                    Points
                </th>
            </tr>
        </thead>
        <tbody>
            {% for data in driverData %}
            <tr class="bg-white hover:bg-gray-50">
                <th class="px-6 py-4  font-medium text-gray-900">
                    {{forloop.counter}}
                </th>
                <td class="px-6 py-4  font-medium text-gray-900">
                    {{data.driverName}}
                </td>
                <td class="px-6 py-4 font-medium text-gray-900">
                    {{data.points}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<div class="w-full flex flex-col m-4">
    <h3 class="text-xl font-bold mb-4 text-gray-900 text-left">Points Through Season</h3>
</div>
<canvas id="myChart"></canvas>


<div class="w-full flex flex-col m-4" id="team_standing">
    <h1 class="text-3xl font-bold mb-4 text-gray-900 text-left">Team Standing</h1>
</div>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Postion
                </th>
                <th scope="col" class="px-6 py-3">
                    Driver
                </th>
                <th scope="col" class="px-6 py-3">
                    Points
                </th>
            </tr>
        </thead>
        <tbody>
            {% for data in teamData %}
            <tr class="bg-white hover:bg-gray-50">
                <th class="px-6 py-4  font-medium text-gray-900">
                    {{forloop.counter}}
                </th>
                <td class="px-6 py-4  font-medium text-gray-900">
                    {{data.teamName}}
                </td>
                <td class="px-6 py-4 font-medium text-gray-900">
                    {{data.points}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<div class="w-full flex flex-col m-4">
    <h3 class="text-xl font-bold mb-4 text-gray-900 text-left">Points Through Season</h3>
</div>
<canvas id="myChartTeam"></canvas>


{{ driverData|json_script:"driver-data" }}
{{ teamData|json_script:"team-data" }}
{{ labels|json_script:"labels" }}


<script>
    {% include "standings/standings.js" %}
</script>

{% endblock content %}
