{% extends "base.html" %}

{% block content %}
<div class="flex mt-4">
    <div class="w-1/2">
        <img src="{{driverData.driverImg}}" class="w-[70%] h-auto" onerror="this.style.display='none';"/>
        <h3 class="text-6xl">{{driverData.driverNumber}}</h3>
        <h4 class="text-3xl">{{driverData.name}}</h4>
    </div>

    <div class="w-1/2 ml-6">
        <table class="mt-4 table-auto w-full text-left border-spacing-y-4 border-separate">
            <colgroup>
                <col class="w-1/2" />
                <col class="w-1/2" />
            </colgroup>
            <tbody>
                <tr>
                    <th class="pr-4 text-xl font-semibold align-top">Current/ Last Team</th>
                    <td class="text-gray-600">{{driverData.currentTeam}}</td>
                </tr>
                <tr>
                    <th class="pr-4 text-xl font-semibold align-top">Full Name</th>
                    <td class="text-gray-600">{{driverData.fullName}}</td>
                </tr>
                <tr>
                    <th class="pr-4 text-xl font-semibold align-top">Birth Place</th>
                    <td class="text-gray-600">{{driverData.birthPlace}}</td>
                </tr>
                <tr>
                    <th class="pr-4 text-xl font-semibold align-top">Date of Birth</th>
                    <td class="text-gray-600">{{driverData.birthDate}} {% if driverData.deathDate %}{% else %}({{driverData.age}}) {% endif %}</td>
                </tr>
                {% if driverData.deathDate %}
                <tr>
                    <th class="pr-4 text-xl font-semibold align-top">Date of Death</th>
                    <td class="text-gray-600">{{driverData.deathDate}} ({{driverData.age}})</td>
                </tr>
                {% endif %}
                <tr>
                    <th class="pr-4 text-xl font-semibold align-top">Nationality</th>
                    <td class="text-gray-600">{{driverData.nationality}}</td>
                </tr>
                <tr>
                    <th class="pr-4 text-xl font-semibold align-top">No. of Races</th>
                    <td class="text-gray-600">{{driverData.noOfRaces}}</td>
                </tr>
                {% if driverData.noOfWins %}
                    <tr>
                        <th class="pr-4 text-xl font-semibold align-top">No. of Wins</th>
                        <td class="text-gray-600">{{driverData.noOfWins}}</td>
                    </tr>
                {% else %}
                    <tr>
                        <th class="pr-4 text-xl font-semibold align-top">Highest Race Finish</th>
                        <td class="text-gray-600">{{driverData.highestPosFinish}}</td>
                    </tr>
                {% endif %}
                {% if driverData.noOfPoles %}
                    <tr>
                        <th class="pr-4 text-xl font-semibold align-top">No. of Poles</th>
                        <td class="text-gray-600">{{driverData.noOfPoles}}</td>
                    </tr>
                {% else %}
                    <tr>
                        <th class="pr-4 text-xl font-semibold align-top">Highest Race Start</th>
                        <td class="text-gray-600">{{driverData.highestPosStart}}</td>
                    </tr>
                {% endif %}
                {% if driverData.noOfChampionShip %}
                    <tr>
                        <th class="pr-4 text-xl font-semibold align-top">No. of ChampionShips</th>
                        <td class="text-gray-600">{{driverData.noOfChampionShip}}</td>
                    </tr>
                {% else %}
                    <tr>
                        <th class="pr-4 text-xl font-semibold align-top">Highest Championship Finish</th>
                        <td class="text-gray-600">{% if driverData.highestChampionshipPos %}{{driverData.highestChampionshipPos}}{% else %}-{% endif %}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th class="pr-4 text-xl font-semibold align-top">No. of Podiums</th>
                    <td class="text-gray-600">{{driverData.noOfPodiums}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{{ previousYearData|json_script:"driver-data" }}

<div class="w-full flex flex-col m-4">
    <h3 class="text-xl font-bold mb-4 text-gray-900 text-left">Points Through Years</h3>
</div>
<canvas id="myChartDriver"></canvas>

<script>
    {% include "drivers/drivers.js" %}
</script>


<h1 class="text-xl font-bold text-gray-900 mt-4">Driver Team History</h1>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-4">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
            <th scope="col" class="px-6 py-3" hidden=true>
                Id
            </th>
            <th scope="col" class="px-6 py-3">
                Team
            </th>
            <th scope="col" class="px-6 py-3">
                Years
            </th>
            <th scope="col" class="px-6 py-3">
                No. of Races
            </th>
            <th scope="col" class="px-6 py-3">
                No. of Wins
            </th>
            <th scope="col" class="px-6 py-3">
                No. of Podiums
            </th>
            <th scope="col" class="px-6 py-3">
                Best Finish
            </th>
            <th scope="col" class="px-6 py-3">
                No. of Poles
            </th>
            <th scope="col" class="px-6 py-3">
                Best Start
            </th>
        </tr>
    </thead>
    <tbody>
        {% for t in driverTeamHistory %}
        <tr class="bg-white  hover:bg-gray-50" onclick="window.location.href='/team/{{t.teamId}}/';">
          <th scope="row" class="px-6 py-4" hidden=true>
              {{t.teamId}}
          </th>
          <td class="px-6 py-4  font-medium text-gray-900 whitespace-nowrap ">
              {{t.name}}
          </td>
          <td class="px-6 py-4 font-medium text-gray-900">
              {{t.years}}
          </td>
          <td class="px-6 py-4 font-medium text-gray-900">
              {{t.noRounds}}
          </td>
          <td class="px-6 py-4 font-medium text-gray-900">
              {{t.noWins}}
          </td>
          <td class="px-6 py-4 font-medium text-gray-900">
              {{t.totalPodiums}}
          </td>
          <td class="px-6 py-4 font-medium text-gray-900">
            {% if t.bestResult %}
              {{t.bestResult}}
            {% else %}
              -
            {% endif %}
          </td>
          <td class="px-6 py-4 font-medium text-gray-900">
              {{t.noPoles}}
          </td>
          <td class="px-6 py-4 font-medium text-gray-900">
              {{t.bestQualiPos}}
          </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>

{% if familyOtherDrivers %}
<h1 class="text-xl font-bold text-gray-900 mt-4">Family Other Drivers</h1>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-4">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
            <th scope="col" class="px-6 py-3" hidden=true>
                Id
            </th>
            <th scope="col" class="px-6 py-3">
                Name
            </th>
            <th scope="col" class="px-6 py-3">
                Relation
            </th>
        </tr>
    </thead>
    <tbody>
        {% for data in familyOtherDrivers %}
        <tr class="bg-white  hover:bg-gray-50" onclick="window.location.href='/drivers/{{data.driverId}}/';">
          <th scope="row" class="px-6 py-4" hidden=true>
              {{data.driverId}}
          </th>
          <td class="px-6 py-4  font-medium text-gray-900 whitespace-nowrap ">
              {{data.name}}
          </td>
          <td class="px-6 py-4 font-medium text-gray-900">
              {{data.relation}}
          </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% endblock content %}