{% extends "base.html" %}

{% block title %}
    Driver Standing
{% endblock title %}

{% block content %}
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Postion
                </th>
                <th scope="col" class="px-6 py-3">
                    Driver
                </th>
                <th scope="col" class="px-6 py-3">
                    Points
                </th>
            </tr>
        </thead>
        <tbody>
            {% for data in driverData %}
            <tr class="bg-white hover:bg-gray-50" onclick="window.location.href='/drivers/{{data.id}}/';">
                <th class="px-6 py-4  font-medium text-gray-900">
                    {{forloop.counter}}
                </th>
                <td class="px-6 py-4  font-medium text-gray-900">
                    <img src="{{data.img}}" class="w-auto h-9 inline-block rounded-3xl mr-1.5" />
                    {{data.name}}
                </td>
                <td class="px-6 py-4 font-medium text-gray-900">
                    {{data.points}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}