{% load static %}
{% load static tailwind_tags %}

<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}F1Info{% endblock %}</title>

    <!-- Tailwind CSS -->
    {% tailwind_css %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- HTMX -->
    <script src={% static "htmx.min.js" %}></script>

    <script src="{% static 'js/bundle.js' %}"></script>

    {% block head %}{% endblock %}
</head>
<body class="bg-white text-gray-900 min-h-screen">

    <!-- Navbar or header -->
    <header>
        {% include "headers.html" %}
    </header>

    <!-- Main content -->
    <main class="container mx-auto px-4">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="text-center text-sm text-gray-500 mt-12 p-4">
        &copy; F1Info
    </footer>

    {% block scripts %}{% endblock %}
    <script>
        {% include "base.js" %}
    </script>
</body>
</html>
