{% load static %}

<header class="w-full bg-white shadow">
  <div class="mx-auto max-w-screen-xl px-4 py-3 flex items-center justify-between">
    
    <!-- Logo -->
    <div class="flex items-center">
      <img src="{% static 'main_img.png' %}" alt="F1Stats Logo" class="h-14 w-auto">
    </div>

    <!-- Navigation links -->
    <nav class="space-x-6">
      <a href="/race/{{request.year}}/" class="text-gray-700 hover:text-gray-900 text-sm font-medium">Season</a>
      <a href="/standing/{{request.year}}/" class="text-gray-700 hover:text-gray-900 text-sm font-medium">Standing</a>
      <a href="/team/{{request.year}}/" class="text-gray-700 hover:text-gray-900 text-sm font-medium">Teams</a>
      <a href="/drivers/{{request.year}}/" class="text-gray-700 hover:text-gray-900 text-sm font-medium">Drivers</a>
      <a href="/circuits/{{request.year}}/" class="text-gray-700 hover:text-gray-900 text-sm font-medium">Circuits</a>
      <a href="#" class="text-gray-700 hover:text-gray-900 text-sm font-medium">Comparision</a>
    </nav>

    <div class="relative text-gray-600">
      <input 
        type="search" 
        name="search"
        placeholder="Search"
        id="searchItem"
        class="bg-white h-10 px-5 pr-10 rounded-md text-sm focus:outline-none w-full shadow"
      />
      <div
        id="dropdownResults"
        class="absolute z-10 w-full bg-white border border-gray-300 rounded shadow mt-1 hidden max-h-64 overflow-y-auto">
      </div>
    </div>
    
    <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center" type="button">2025<svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
        </svg>
        </button>
        
        <!-- Dropdown menu -->
        <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44">
            <ul class="py-2 text-sm text-gray-700" aria-labelledby={{request.year}}>
            <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100">2025</a>
            </li>
            <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100">2024</a>
            </li>
            </ul>
        </div>
    
    
  </div>
</header>
