{% load static %}

<header class="w-full bg-white shadow">
  <div class="mx-auto max-w-screen-xl px-4 py-3 flex items-center justify-between">
    
    <!-- Logo -->
    <div class="flex items-center">
      <a href="/{{request.year}}">
        <img src="{% static 'main_img.png' %}" alt="F1Stats Logo" class="h-14 w-auto">
      </a>
    </div>

    <!-- Navigation links -->
    <nav class="space-x-6">
      <a href="/race/{{request.year}}/" class="text-gray-700 hover:text-gray-900 text-sm font-medium">Season</a>
      <a href="/standing/{{request.year}}/" class="text-gray-700 hover:text-gray-900 text-sm font-medium">Standing</a>
      <a href="/team/{{request.year}}/" class="text-gray-700 hover:text-gray-900 text-sm font-medium">Teams</a>
      <a href="/drivers/{{request.year}}/" class="text-gray-700 hover:text-gray-900 text-sm font-medium">Drivers</a>
      <a href="/circuits/{{request.year}}/" class="text-gray-700 hover:text-gray-900 text-sm font-medium">Circuits</a>
      <div class="relative group inline-block">
        <p
          class="text-gray-700 hover:text-gray-900 text-sm font-medium">
          Comparison
        </p>

        <!-- Dropdown -->
        <div class="absolute left-0 mt-2 w-48 bg-white border border-gray-200 rounded shadow-lg opacity-0 group-hover:opacity-100 invisible group-hover:visible transition duration-200 z-50">
          <a href="/comparision/driver/{{request.year}}/" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
            Driver Comparison
          </a>
          <a href="/comparision/team/{{request.year}}/" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
            Team Comparison
          </a>
        </div>
      </div>
  
    </nav>

    <div class="relative text-gray-600">
      <input 
        type="search" 
        name="search"
        placeholder="Search (CTRL + K)"
        id="searchItem"
        class="bg-white h-10 px-5 pr-10 rounded-md text-sm focus:outline-none w-full shadow"
      />
      <div
        id="dropdownResults"
        class="absolute z-10 w-full bg-white border border-gray-300 rounded shadow mt-1 hidden max-h-64 overflow-y-auto">
      </div>
    </div>
    
  <div class="relative inline-block text-left">
    <!-- Dropdown Button -->
    <button id="dropdownButton" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center" type="button">
        {{request.year}}
        <svg class="w-2.5 h-2.5 ms-3 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1l4 4 4-4"/>
        </svg>
    </button>

    <!-- Dropdown Menu -->
    <div id="dropdownMenu" class="hidden absolute mt-2 z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44">
        <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdownButton">
            <li><a href="/2025/" class="block px-4 py-2 hover:bg-gray-100">2025</a></li>
            <li><a href="/2024/" class="block px-4 py-2 hover:bg-gray-100">2024</a></li>
        </ul>
    </div>
    </div>
    
</div>
</header>


<!-- Script to toggle dropdown -->
<script>
    const dropdownButton = document.getElementById('dropdownButton');
    const dropdownMenu = document.getElementById('dropdownMenu');

    dropdownButton.addEventListener('click', () => {
        dropdownMenu.classList.toggle('hidden');
    });

    document.addEventListener('click', (event) => {
        if (!dropdownButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
            dropdownMenu.classList.add('hidden');
        }
    });
</script>