{% extends "base.html" %}

{% block content %}
{% if lastRaceResult %}
<div class="flex w-full mt-4"> <!-- Horizontal split -->
    <!-- Left section -->
    <div class="w-1/2 p-4">
        <!-- Title and button in one row -->
        <div class="flex items-center justify-between mb-4">
            <h1 class="text-3xl text-gray-700">Last Race Result</h1>
            <button class="bg-blue-700 text-white px-4 py-2 rounded hover:bg-blue-600">
                <a href="race/{{lastRaceResult.year}}/{{lastRaceResult.round}}/">View Result</a>
            </button>
        </div>

        <h1 class="text-2xl text-gray-700 text-center p-4">{{lastRaceResult.name}}</h1>

        <!-- Table below -->
        <div class="overflow-hidden rounded-t-lg">
            <table class="w-full text-left">
                <thead>
                    <tr class="bg-gray-100">
                        <th class="px-4 py-2">Position</th>
                        <th class="px-4 py-2">Driver</th>
                        <th class="px-4 py-2">Team</th>
                        <th class="px-4 py-2">Gap</th>
                    </tr>
                </thead>
                <tbody>
                    {% for driver in lastRaceResult.standings %}
                    <tr>
                        <td class="px-4 py-2">{{ forloop.counter }}</td>
                        <td class="px-4 py-2">{{ driver.driverName }}</td>
                        <td class="px-4 py-2">{{ driver.teamName }}</td>
                        <td class="px-4 py-2">
                            {% if driver.gap %}{{ driver.gap }}{% else %}-{% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Right section -->
    <div class="w-1/2 p-4">
        <div class="flex items-center justify-between mb-4">
            <h1 class="text-3xl text-gray-700">Next Race</h1>
            <button class="bg-blue-700 text-white px-4 py-2 rounded hover:bg-blue-600">
                <a href="/race/{{nextRace.year}}/{{nextRace.round}}/">View Timings</a>
            </button>
        </div>

        <h1 class="text-2xl text-gray-700 text-center p-4">{{nextRace.name}}</h1>

        <div class="flex flex-col items-center bg-white p-4 rounded-xl mb-6">
          <h5 class="font-bold text-xl text-gray-900">{{nextRace.nextEventType}}</h5>
          {%include "timer.html" with nextEvent=nextRace.nextEvent %}
        </div>
    </div>

</div>
{% endif %}

<div class="flex w-full mt-4">
    <div class="w-1/2 p-4">
        <div class="flex items-center justify-between mb-4">
            <h1 class="text-3xl text-gray-700">Driver Standing</h1>
            <button class="bg-blue-700 text-white px-4 py-2 rounded hover:bg-blue-600">
                <a href="/standing/{{lastRaceResult.year}}/">View Standing</a>
            </button>
        </div>

        <div class="overflow-y-auto max-h-96 rounded-t-lg">
            <table class="w-full text-left">
                <thead>
                    <tr class="bg-gray-100">
                        <th class="px-4 py-2">Position</th>
                        <th class="px-4 py-2">Driver</th>
                        <th class="px-4 py-2">Points</th>
                    </tr>
                </thead>
                <tbody>
                    {% for driver in driverStanding %}
                    <tr>
                        <td class="px-4 py-2">{{ forloop.counter }}</td>
                        <td class="px-4 py-2">
                            <a href=/drivers/{{driver.pk}}/>
                                <img src="{{driver.img}}" class="w-auto h-9 inline-block rounded-3xl mr-1.5" onerror="this.style.display='none';"/>
                                {{ driver.name }}
                            </a>
                        </td>
                        <td class="px-4 py-2">{{ driver.points }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


    </div>

    <div class="w-1/2 p-4">
        <div class="flex items-center justify-between mb-4">
            <h1 class="text-3xl text-gray-700">Team Standing</h1>
            <button class="bg-blue-700 text-white px-4 py-2 rounded hover:bg-blue-600">
                <a href="/standing/{{lastRaceResult.year}}/#team_standing">View Standing</a>
            </button>
        </div>

        <div class="overflow-y-auto max-h-96 rounded-t-lg">
            <table class="w-full text-left">
                <thead>
                    <tr class="bg-gray-100">
                        <th class="px-4 py-2">Position</th>
                        <th class="px-4 py-2">Driver</th>
                        <th class="px-4 py-2">Points</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in teamStanding %}
                    <tr>
                        <td class="px-4 py-2">{{ forloop.counter }}</td>
                        <td class="px-4 py-2">
                            <a href="/team/{{team.pk}}">
                                <img src="{{team.img}}" class="w-auto h-9 inline-block" onerror="this.style.display='none';"/>
                                {{ team.name }}
                            </a>
                        </td>
                        <td class="px-4 py-2">{{ team.points }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>


</div>
{% endblock content %}
