<div class="flex items-start justify-center w-full gap-4 count-down-main mt-3">
    <div class="timer w-16">
        <div>
          <h3 class="countdown-element months font-manrope font-semibold text-2xl text-indigo-600 text-center"></h3>
        </div>
        <p class="text-sm font-normal text-gray-900 mt-1 text-center w-full">months</p>
      </div>
      <h3 class="font-manrope font-semibold text-2xl text-gray-900">:</h3>

    <div class="timer w-16">
      <div>
        <h3 class="countdown-element days font-manrope font-semibold text-2xl text-indigo-600 text-center"></h3>
      </div>
      <p class="text-sm font-normal text-gray-900 mt-1 text-center w-full">days</p>
    </div>
    <h3 class="font-manrope font-semibold text-2xl text-gray-900">:</h3>
    
    <div class="timer w-16">
      <div>
        <h3 class="countdown-element hours font-manrope font-semibold text-2xl text-indigo-600 text-center"></h3>
      </div>
      <p class="text-sm font-normal text-gray-900 mt-1 text-center w-full">hours</p>
    </div>
    <h3 class="font-manrope font-semibold text-2xl text-gray-900">:</h3>
    
    <div class="timer w-16">
      <div>
        <h3 class="countdown-element minutes font-manrope font-semibold text-2xl text-indigo-600 text-center"></h3>
      </div>
      <p class="text-sm font-normal text-gray-900 mt-1 text-center w-full">minutes</p>
    </div>
    <h3 class="font-manrope font-semibold text-2xl text-gray-900">:</h3>
    
    <div class="timer w-16">
      <div>
        <h3 class="countdown-element seconds font-manrope font-semibold text-2xl text-indigo-600 text-center"></h3>
      </div>
      <p class="text-sm font-normal text-gray-900 mt-1 text-center w-full">seconds</p>
    </div>
</div>
  

<script>
  {% include "timer.js" %}
</script>