{% extends "base.html" %}

{% block content %}

<div class="w-full flex flex-col m-4">
  <h1 class="text-3xl font-bold mb-4 text-gray-900 text-center">{{officalName}}</h1>
</div>

<div class="w-full flex flex-col md:flex-row items-center m-4">
    <!-- Left: Image -->
    <div class="w-full md:w-1/2 h-64 md:h-auto bg-white">
      <img src={{circuitImg}} alt="{{officalName}} Image" class="w-full h-full object-cover rounded-l-2xl" />
    </div>
  
    <!-- Right: Text -->
      {% if nextEvent %}
      <div class="w-full md:w-1/2 p-6 bg-white rounded-r-2xl flex flex-col justify-center relative overflow-y-auto">
        <div class="flex flex-col items-center bg-white p-4 rounded-xl mb-6">
          <h5 class="font-bold text-xl text-gray-900">{{nextEventType}}</h5>
          {%include "timer.html"%}
        </div>
      {% endif %}
    
      <div class="mt-1 text-gray-700 flex flex-wrap gap-6 justify-between">
        <div class="flex flex-col items-start bg-white p-4 rounded-xl">
          <h5 class="font-bold text-xl text-gray-900">Number of Laps</h5>
          <p class="text-gray-900">{{noLaps}}</p>
        </div>
        <div class="flex flex-col items-start bg-white p-4 rounded-xl">
          <h5 class="font-bold text-xl text-gray-900">Race Distance</h5>
          <p class="text-gray-900">{{totalDist}} km.</p>
        </div>
        <div class="flex flex-col items-start bg-white p-4 rounded-xl">
          <h5 class="font-bold text-xl text-gray-900">Circuit Length</h5>
          <p class="text-gray-900">{{length}} km.</p>
        </div>
      </div>
    </div>
    
</div>

{% if raceData %}
  <div class="flex justify-evenly border-gray-300">
    {% for x,y in availableData %}
      <button 
        class="tab-button flex-1 text-center px-4 py-2 border-b-2 font-medium 
              {% if x == active_tab %}
                text-blue-600 border-blue-500
              {% else %}
                text-gray-700 border-transparent hover:text-blue-600 hover:border-blue-500
              {% endif %}"
        data-tab="{{ x }}"
        hx-get="{% url 'session_data' id %}?session={{ x }}"
        hx-target="#tab-content"
        hx-swap="innerHTML">
        {{ x }}
      </button>
    {% endfor %}
  </div>

  <div id="tab-content" class="mt-6">
    {% include "race/_partials/race.html" %}
  </div>

{% else %}
<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-4">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
          <tr>
              <th scope="col" class="px-6 py-3">
                  Event
              </th>
              <th scope="col" class="px-6 py-3">
                  Timings
              </th>
          </tr>
      </thead>
      <tbody>
          {% for x,y in availableData %}
          <tr class="bg-white hover:bg-gray-50">
              <td class="px-6 py-4  font-medium text-gray-900 whitespace-nowrap ">
                {{x}}
              </td>
              <td class="px-6 py-4 font-medium text-gray-900">
                <span>{{ y|date:"F j, Y h:i A" }} UTC</span><br>
                <span>Local: <span class="local-time" data-utc="{{ y|date:'c' }}"></span></span>
              </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>

{% endif %}

{{ availableData|json_script:"available-data" }}


<script>
  {% include "race/race.js" %}
</script>

{% endblock content %}