{% extends "base.html" %}

{% block content %}

<div class="w-full flex flex-col m-4">
  <h1 class="text-3xl font-bold mb-4 text-gray-900 text-center">{{officalName}}</h1>
</div>

<div class="w-full flex flex-col md:flex-row items-center m-4">
    <!-- Left: Image -->
    <div class="w-full md:w-1/2 h-64 md:h-auto bg-white">
      <img src={{circuitImg}} alt="{{officalName}} Image" class="w-full h-full object-cover rounded-l-2xl" />
    </div>
  
    <!-- Right: Text -->
    <div class="w-full md:w-1/2 p-6 bg-white rounded-r-2xl flex flex-col justify-center relative overflow-y-auto">
      <h1 class="text-2xl font-bold text-gray-900 absolute top-6 left-6 right-6">
        {{name}}
      </h1>
    
      <div class="mt-20 text-gray-700 flex flex-wrap gap-6">
        <div class="flex flex-col items-start bg-white p-4 rounded-xl">
          <h5 class="font-bold text-xl text-gray-900">Number of Laps</h5>
          <p class="text-gray-900">{{noLaps}}</p>
        </div>
        <div class="flex flex-col items-start bg-white p-4 rounded-xl">
          <h5 class="font-bold text-xl text-gray-900">Race Distance</h5>
          <p class="text-gray-900">{{totalDist}} km.</p>
        </div>
        <div class="flex flex-col items-start bg-white p-4 rounded-xl">
          <h5 class="font-bold text-xl text-gray-900">Circuit Length</h5>
          <p class="text-gray-900">{{length}} km.</p>
        </div>
      </div>
      
    </div>
    
</div>



<div class="flex justify-evenly border-gray-300">
  {% for x in availableData %}
    <button 
      class="tab-button flex-1 text-center px-4 py-2 border-b-2 font-medium 
             {% if x == active_tab %}
               text-blue-600 border-blue-500
             {% else %}
               text-gray-700 border-transparent hover:text-blue-600 hover:border-blue-500
             {% endif %}"
      data-tab="{{ x }}"
      hx-get="{% url 'session_data' id %}?session={{ x }}"
      hx-target="#tab-content"
      hx-swap="innerHTML">
      {{ x }}
    </button>
  {% endfor %}
</div>



<div id="tab-content" class="mt-6">
  {% include "race/_partials/race.html" %}
</div>

<script>
  document.addEventListener('htmx:beforeRequest', function (e) {
    if (!e.target.matches('.tab-button')) return;

    // Clear existing active state
    document.querySelectorAll('.tab-button').forEach(btn => {
      btn.classList.remove('text-blue-600', 'border-blue-500');
      btn.classList.add('text-gray-700', 'border-transparent');
    });

    // Set active state on clicked button
    e.target.classList.remove('text-gray-700', 'border-transparent');
    e.target.classList.add('text-blue-600', 'border-blue-500');
  });
</script>

{% endblock content %}